@import '../../docs/src/style/colors';
.white {
    color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: 1.1 !important;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    width: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin: 20px 0 10px 0 !important;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

h1,
.h1 {
    font-size: 36px !important;
}

h2,
.h2 {
    font-size: 29px !important;
}

h3,
.h3 {
    font-size: 22px !important;
}

h4,
.h4 {
    font-size: 18px !important;
}

h5,
.h5 {
    font-size: 14px !important;
}

h6,
.h6 {
    font-size: 12px !important;
}

.primary-txt {
    color: $btn-primary;
}

.default-txt {
    color: $grey-txt;
    font-weight: bold;
}

.email {
    font-size: 15px!important;
    color: $btn-primary;
    margin-top: 110px!important;
    font-weight: bold;
    border-bottom: 1px solid #dafcff;
    padding-bottom: 20px;
}

.melissa-title {
    color: $melissa-primary;
    margin: 20px 10px!important;
}