 @import '../styles/colors';
 #generalToggle{
     label{
         font-weight: 500!important;
     }
    &.switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
     input {
         display: none;
     }
 }
 
 .checkbox-toggle.bobbie-toggle {
     &:checked+.togg {
         background-color: $btn-primary;
     }
     &:focus+.togg {
         box-shadow: 0 0 1px $btn-primary;
     }
     &:checked+.togg:before {
         left: -5px;
         -webkit-transform: translateX(26px);
         -ms-transform: translateX(26px);
         transform: translateX(26px);
     }
 }
 
 .checkbox-toggle.melissa-toggle {
     &:checked+.togg {
         background-color: $melissa-primary;
     }
     &:focus+.togg {
         box-shadow: 0 0 1px $melissa-primary;
     }
     &:checked+.togg:before {
         left: -5px;
         -webkit-transform: translateX(26px);
         -ms-transform: translateX(26px);
         transform: translateX(26px);
     }
 }
 
 .togg.round {
     border-radius: 34px;
     &:before {
         border-radius: 50%;
     }
 }
 
 .togg {
     position: relative;
     cursor: pointer;
     background-color: #dedede;
     -webkit-transition: .4s;
     transition: .4s;
     width: 50px;
     height: 32px;
     &:before {
         position: absolute;
         content: "";
         height: 26px;
         width: 26px;
         left: 2px;
         bottom: 3px;
         background-color: white;
         -webkit-transition: .4s;
         transition: .4s;
     }
 }
    
 }
 