@import '../../docs/src/style/colors';
.melissa-list {
    .nearby {
        background-image: url(img/bullet.png);
        padding-left: 60px;
        p{
            display: none;
        }
    }
    li {
        background-repeat: no-repeat;
        background-position: left;
        padding: 15px;
        border-bottom: 1px solid rgba(204, 203, 203, .36);
        color: #686868;
        cursor: pointer;
    }
    .assigned-melissa {
        font-size: 12px;
        color: $melissa-primary;
        margin-top: 5px;
    }
    .if-assigned {
        padding-left: 60px;
        background-image: url(img/assigned-melissa.png);
        p{
            display: block;
        }
    }
}