@import '../../docs/src/style/colors';
.noUi-target {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    // -webkit-transition: all 0.2s;
    // -moz-transition: all 0.2s;
    // -o-transition: all 0.2s;
    // transition: all 0.2s;
    * {
        user-select: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        touch-action: none;
        -ms-touch-action: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        // -webkit-transition: all 0.2s;
        // -moz-transition: all 0.2s;
        // -o-transition: all 0.2s;
        // transition: all 0.2s;
    }
}

.noUi-base {
    width: 100%;
    height: 90%;
    position: relative;
}

.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

.noUi-handle {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.noUi-stacking {
    .noUi-handle {
        z-index: 10;
    }
    +.noUi-origin {
        *z-index: -1;
    }
}

.noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s, top 0.3s;
    transition: left 0.3s, top 0.3s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}


/* Slider size and handle placement */

.noUi-horizontal {
    height: 10px;
    width: 270px;
    border-radius: 4px;
}

.noUi-vertical {
    height: 300px;
    width: 10px;
}

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
    background-image: url(img/slider.png);
    background-repeat: no-repeat;
    background-position: 49% 50%;
    background-color: $white;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    cursor: default;
    left: -12px;
    -webkit-box-shadow: 0 0 19px -4px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0 0 19px -4px rgba(0, 0, 0, 0.31);
    box-shadow: 0 0 19px -4px rgba(0, 0, 0, 0.31);
    background-size: 13px;
}

.noUi-horizontal .noUi-handle {
    top: -12px;
    left: 0;
}


/* Styling*/

.noUi-origin {
    border-radius: 2px;
}

.noUi-vertical {
    width: 5px;
    border-radius: none;
    border: none;
    box-shadow: none;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 51%, rgba(255, 255, 255, 0.1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(51%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0.1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 51%, rgba(255, 255, 255, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 51%, rgba(255, 255, 255, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 51%, rgba(255, 255, 255, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 51%, rgba(255, 255, 255, 0.1) 100%);
}

.noUi-horizontal {
    height: 5px;
    background-color: #fefefe;
}

.noUi-target.noUi-connect {
    box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #BBB;
}


/* Handles and cursors */

.noUi-dragable {
    cursor: w-resize;
}

.noUi-vertical .noUi-dragable {
    cursor: n-resize;
}

.range {
    color: $white;
    font-size: 14px;
    text-align: center;
    position: relative;
    left: -5px;
    margin: 10px 0;
}

// .noUi-active {}
.set-height {
    height: 100%;
    position: relative;
    top: 0;
}