@import '../styles/colors';
.checkbox.melissa-checkbox {
    &:checked,
    &:not(:checked) {
        display: none;
    }
    &:checked+label,
    &:not(:checked)+label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
    }
    &:checked+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 2px;
        width: 17px;
        height: 17px;
        border: 2px solid $melissa-primary;
        border-radius: 6px;
        background-color: $melissa-primary;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flex;
        display: -o-inline-flex;
        display: inline-flex;
    }
    &:not(:checked)+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 2px;
        width: 17px;
        height: 17px;
        border: 1px solid $checkbox;
        background: $checkbox;
        border-radius: 5px;
    }
    &:checked+label:after {
        content: ' ';
        background-image: url(./img/tick-terms.png);
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 6px;
        left: 3px;
        transition: all .2s;
        opacity: 1;
        transform: scale(1);
    }
}

.checkbox.bobbie-checkbox {
    &:checked,
    &:not(:checked) {
        display: none;
    }
    &:checked+label,
    &:not(:checked)+label {
        margin: 20px auto!important;
        position: relative;
        padding-left: 25px;
        cursor: pointer;
    }
    &:checked+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 2px;
        width: 17px;
        height: 17px;
        border: 2px solid $btn-primary;
        border-radius: 6px;
        background-color: $btn-primary;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flex;
        display: -o-inline-flex;
        display: inline-flex;
    }
    &:not(:checked)+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 2px;
        width: 17px;
        height: 17px;
        border: 1px solid $checkbox;
        background: $checkbox;
        border-radius: 5px;
    }
    &:checked+label:after {
        content: ' ';
        background-image: url(./img/tick-terms.png);
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 6px;
        left: 3px;
        transition: all .2s;
        opacity: 1;
        transform: scale(1);
    }
}

.checkbox-inline {
    display: inline;

    input, label {
        display: inline;
    }
}