#main-nav{
    margin-top:10px;
    margin-bottom:10px;
}

#main-nav{
    .logo-text{
        color:black!important;
        padding: 8px;
        padding-left: 0px;
        float: left;
        font-weight: bolder;
        cursor:pointer;
    }
    ul{
        float: left;
        margin-left: 20px;
    }
    ul > li{
        float: left;
        padding: 8px;
    }

    a {
        text-decoration: none;
        color: #939598;
        font-weight: lighter;
        cursor:pointer;
    }
    a:hover {
        color:#2aaae2;
    }
    a.active, .logo-text.active{
        font-weight: bolder;
    }
}