 @import '../styles/colors';
 #onOff {
    label{
        font-weight: 500!important;
    }
     &.switch {
         position: relative;
         display: inline-block;
        //  width: 60px;
         height: 34px;
         input {
             display: none;
         }
     }
     &.onOff {
         .checkbox-toggle.melissa-toggle {
             &:checked+.togg {
                 background-color: $melissa-primary;
             }
             &:focus+.togg {
                 box-shadow: 0 0 1px $melissa-primary;
             }
             &:checked+.togg:before {
                 //  left: -5px;
                 background-color: $white;
                 left: 5px;
                 -webkit-transform: translateX(26px);
                 -ms-transform: translateX(26px);
                 transform: translateX(26px);
             }
             &:checked+.togg:after {
                 content: "ON";
                 position: absolute;
                 top: 9px;
                 color: $white;
                 left: -20px;
                 -webkit-transform: translateX(26px);
                 -ms-transform: translateX(26px);
                 transform: translateX(26px);
             }
         }
         .togg.round {
             border-radius: 34px;
             &:before {
                 border-radius: 50%;
             }
         }
         .togg {
             font-size: 13px;
             position: relative;
             cursor: pointer;
             background-color: #dedede;
             -webkit-transition: .4s;
             transition: .4s; //  width: 50px;
             width: 60px;
             height: 32px;
             &::after {
                 content: "OFF";
                 position: absolute;
                 top: 9px;
                 color: $white;
                 left: 4px;
                 -webkit-transform: translateX(26px);
                 -ms-transform: translateX(26px);
                 transform: translateX(26px);
             }
             &:before {
                 position: absolute;
                 content: "";
                 height: 26px;
                 width: 26px;
                 left: 2px;
                 bottom: 3px;
                 background-color: $white;
                 -webkit-transition: .4s;
                 transition: .4s;
             }
         }
     }
     &.state-toggle {
         .checkbox-toggle.melissa-toggle {
             &:checked+.togg {
                 background-color: $melissa-primary;
             }
             &:focus+.togg {
                 box-shadow: 0 0 1px $melissa-primary;
             }
             &:checked+.togg:before {
                 //  left: -5px;
                 background-color: $white;
                  left: 45px;
                 -webkit-transform: translateX(26px);
                 -ms-transform: translateX(26px);
                 transform: translateX(26px);
             }
             &:checked+.togg:after {
                 content: "ENABLED";
                 position: absolute;
                 top: 10px;
                 color: $white;
                 left: -20px;
                 -webkit-transform: translateX(26px);
                 -ms-transform: translateX(26px);
                 transform: translateX(26px);
             }
         }
         .togg.round {
             border-radius: 34px;
             &:before {
                 border-radius: 50%;
             }
         }
         .togg {
             font-size: 13px;
             position: relative;
             cursor: pointer;
             background-color: #dedede;
             -webkit-transition: .4s;
             transition: .4s; //  width: 50px;
             width: 100px;
             height: 32px;
             &::after {
                 content: "DISABLED";
                 position: absolute;
                 top: 10px;
                 color: $white;
                 left: 7px;
                 -webkit-transform: translateX(26px);
                 -ms-transform: translateX(26px);
                 transform: translateX(26px);
             }
             &:before {
                 position: absolute;
                 content: "";
                 height: 26px;
                 width: 26px;
                 left: 2px;
                 bottom: 3px;
                 background-color: $white;
                 -webkit-transition: .4s;
                 transition: .4s;
             }
         }
     }

     &.temp-toggle{
                  .checkbox-toggle.melissa-toggle {
             &:checked+.togg {
                 background-color: $melissa-primary;
             }
             &:focus+.togg {
                 box-shadow: 0 0 1px $melissa-primary;
             }
             &:checked+.togg:before {
                 //  left: -5px;
                 background-color: $white;
                  left: 5px;
                 -webkit-transform: translateX(26px);
                 -ms-transform: translateX(26px);
                 transform: translateX(26px);
             }
             &:checked+.togg:after {
                 content: "F°";
                  position: absolute;
                 top: -1px;
                 color: $white;
                 left: -14px;
                 -webkit-transform: translateX(26px);
                 -ms-transform: translateX(26px);
                 transform: translateX(26px);
             }
         }
         .togg.round {
             border-radius: 34px;
             &:before {
                 border-radius: 50%;
             }
         }
         .togg {
             font-size: 13px;
             position: relative;
             cursor: pointer;
             background-color: #dedede;
             -webkit-transition: .4s;
             transition: .4s; //  width: 50px;
             width: 60px;
             height: 32px;
             &::after {
                 content: "C°";
                  position: absolute;
                 top: -1px;
                 color: $white;
                 left: 8px;
                 -webkit-transform: translateX(26px);
                 -ms-transform: translateX(26px);
                 transform: translateX(26px);
             }
             &:before {
                 position: absolute;
                 content: "";
                 height: 26px;
                 width: 26px;
                 left: 2px;
                 bottom: 3px;
                 background-color: $white;
                 -webkit-transition: .4s;
                 transition: .4s;
             }
         }
     }
 }