#analytics {
    overflow-x: hidden;
}

#analytics .datepicker {
    width: 75px;
    border: 1px solid #bebebe;
    color: #b4b4b4;
    padding: 7px 15px;
    display: block;
    margin: 0 auto;
    text-align: left;
}

#analytics .tab-content {
    /*width: 92%;*/
}

#analytics #dailyAnalytics label, #analytics #monthlyAnalytics label {
    color: #868686;
    font-size: 13px;
    text-transform: uppercase;
}

#analytics .energy-history-row {
    background-color: #dafcff;
    height: 40px;
    border-radius: 20px;
}

#analytics .energy-history-row .energy {
    height: 100%;
    background: #602f7e;
    border-radius: 20px;
    float: left;
}

#analytics .energy-history-row .energy.eco {
    background-image: url(../img/leaf.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 19px;
}

.energy-history-row>div:first-child {
    width: 15%;
}

.energy-history-row>div:nth-child(2) {
    width: 2%;
    margin-left: 15%;
}

.energy-history-row>div:nth-child(3) {
    width: 6%;
    margin-left: 10%;
}

.energy-history-row>div:nth-child(4) {
    width: 7%;
    margin-left: 37%;
}

#analytics .energy-row {
    background-color: #dafcff;
    height: 40px;
    border-radius: 20px;
}

#analytics .energy-row .types {
    height: 100%;
    float: left;
    background-size: 23px !important;
}

.energy-row .bathing {
    background: #fe02ba url(../img/bathing-icon.png) center center no-repeat !important;
    background-size: 30px;
}

.energy-row .handwashing {
    background: #ff9600 url(../img/handwashing-icon.png) center center no-repeat !important;
}

.energy-row .dishwashing {
    background: #003be4 url(../img/dishwashing-icon.png) center center no-repeat !important;
}

.energy-row>div:first-child {
    width: 35%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.energy-row>div:nth-child(2) {
    width: 5%;
}

.energy-row>div:nth-child(3) {
    width: 40%;
}

.energy-row>div:nth-child(4) {
    width: 20%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

#analytics .consumption {
    padding: 30px 0;
    background: #dafcff url(../img/energy-icon.png) 10% center no-repeat;
    background-size: 35px;
    color: #0097ff;
    font-size: 2.2em;
    font-weight: 600;
    border-radius: 5px;
    float: left;
    width: 100%;
}

#analytics .savings div {
    width: 49%;
    float: left;
    padding: 30px 0;
    font-size: 1.2em;
    border-radius: 5px;
    font-weight: 600;
}

#analytics .savings div p {
    padding-left: 25px;
}

#analytics .savings .energy {
    background: #dafcff url(../img/energy-icon.png) 10% center no-repeat;
    background-size: 25px;
    color: #0097ff;
    /*margin-right: 10px;*/
}

#analytics .savings .money {
    background: #cdfaa2 url(../img/money-icon.png) 10% center no-repeat;
    background-size: 25px;
    color: #68af24;
    float: right;
}

#analytics .most-used {
    padding: 40px 0;
    float: left;
    width: 100%;
    background: #dafcff url(../img/most-used-bathing.png) right center no-repeat;
    background-size: 150px;
    color: #0097ff;
    font-weight: 600;
    font-size: 2em;
}

#analytics .most-used p {
    padding-left: 20px;
}

#analytics .days .day {
    font-size: 1.7em;
    font-weight: 600;
    line-height: 1.7em;
    color: #7cd0ff;
    display: inline-block;
    float: left;
    font-family: 'Montserrat', sans-serif!important;
}

#analytics .row {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

#analytics .days .line {
    background-color: #dafcff;
    height: 40px;
    border-radius: 20px;
    float: left;
    width: 85%;
    margin-left: 3px;
    margin-top: 2px;
}

#analytics .days .row:first-child .line {
    margin-left: 6px;
}

#analytics .days .row .line .filled-row {
    float: left;
    width: 25%;
    height: 100%;
    border-radius: 25px;
    background-color: #602f7e;
}

#analytics .days .row:nth-child(2) .line .filled-row {
    width: 40%;
}


/*
*
* jQuery calendar customization styles
*
*/

#analytics .ui-widget-header, #analytics .ui-datepicker-calendar thead {
    border: 0;
    border-radius: 0;
    background-color: #602f7e;
    color: #fff;
}

#analytics .ui-state-highlight, #analytics .ui-widget-content .ui-state-highlight {
    border: 0 !important;
    border-radius: 30px;
    background-color: #989e9b !important;
    color: #fff;
}

#analytics .ui-datepicker td a, #analytics .ui-datepicker td span {
    text-align: center;
    padding: 9px;
    color: #9e9e9e;
}

#analytics .ui-state-default, #analytics .ui-widget-content .ui-state-default {
    border: 0;
    background-color: transparent;
}

#analytics .ui-state-hover, #analytics .ui-widget-content .ui-state-hover {
    background: #602f7e;
    color: #fff;
    border-radius: 30px;
}

#analytics .ui-datepicker-next, #analytics .ui-datepicker-next-hover, #analytics .ui-datepicker-prev, #analytics .ui-datepicker-prev-hover {
    background: none !important;
    border: 0 !important;
}

#analytics .ui-datepicker .ui-datepicker-next span {
    background: url(../img/arrow-white.png) 0 0 no-repeat;
}

#analytics .ui-datepicker .ui-datepicker-prev span {
    background: url(../img/arrow-white.png) 0 0 no-repeat;
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#analytics #ui-datepicker-div {
    padding: 0 !important;
    position: absolute;
    top: 153px;
    left: 10%!important;
    z-index: 1;
    /*display: block;*/
    right: 10%;
    width: auto!Important;
}

#analytics .ui-state-active, #analytics .ui-widget-content .ui-state-active {
    background-color: #602f7e;
    border-radius: 20px;
    color: #fff !important;
}
