.popup-alert {
	display: none;
	width: 94%;
	padding: 15px 0;
  margin-top: 10px;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 2%;
	z-index: 5000;
  border: 2px solid #0097ff;
	border-radius: 5px;
}

.popup-content{
  font-size: 16px;
  margin: 0 auto;
  width:100%;
  text-align: left;
  color: #868686;
  font-family: 'Open Sans', sans-serif;
}

.popup-content img{
  vertical-align: middle;
  width: 30px;
  padding-right:3px;
  margin: 0 10px;
  /* margin-bottom: 15px;
  float: left; */
}

.popup-content a {
  background-color: #d1ebfa;
  color: #0097ff;
  padding: 5px 25px;
  border-radius: 25px;
}

.popup-alert .popup-content .demo-button.confirm-no {
  margin: 0 5% 0 25%;
}

.alert-dialog-button {
	text-align: center;
	background-color: #fff;
	color: black;
	padding: 7px 10px;
	margin-left: 15px;
	border-radius: 15px;
}

span.message-text {
  display: inline-block;
  margin-top: 15px;
  width: 70%;
  text-align: center;
}

.alert-dialog-button .plus-icon{
	font-weight: bolder;
	margin-right: 7px;
	font-size: 15px;
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 90px;
	text-indent: -9999em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	margin-top: -0.5em;
	margin-left: -0.5em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load6 1.7s infinite ease;
	animation: load6 1.7s infinite ease;
	display: none;
	z-index: 1001;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #000, 0 -0.83em 0 -0.42em #000, 0 -0.83em 0 -0.44em #000, 0 -0.83em 0 -0.46em #000, 0 -0.83em 0 -0.477em #000;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #000, 0 -0.83em 0 -0.42em #000, 0 -0.83em 0 -0.44em #000, 0 -0.83em 0 -0.46em #000, 0 -0.83em 0 -0.477em #000;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #000, -0.087em -0.825em 0 -0.42em #000, -0.173em -0.812em 0 -0.44em #000, -0.256em -0.789em 0 -0.46em #000, -0.297em -0.775em 0 -0.477em #000;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #000, -0.338em -0.758em 0 -0.42em #000, -0.555em -0.617em 0 -0.44em #000, -0.671em -0.488em 0 -0.46em #000, -0.749em -0.34em 0 -0.477em #000;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #000, -0.377em -0.74em 0 -0.42em #000, -0.645em -0.522em 0 -0.44em #000, -0.775em -0.297em 0 -0.46em #000, -0.82em -0.09em 0 -0.477em #000;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #000, 0 -0.83em 0 -0.42em #000, 0 -0.83em 0 -0.44em #000, 0 -0.83em 0 -0.46em #000, 0 -0.83em 0 -0.477em #000;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #000, 0 -0.83em 0 -0.42em #000, 0 -0.83em 0 -0.44em #000, 0 -0.83em 0 -0.46em #000, 0 -0.83em 0 -0.477em #000;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #000, 0 -0.83em 0 -0.42em #000, 0 -0.83em 0 -0.44em #000, 0 -0.83em 0 -0.46em #000, 0 -0.83em 0 -0.477em #000;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #000, -0.087em -0.825em 0 -0.42em #000, -0.173em -0.812em 0 -0.44em #000, -0.256em -0.789em 0 -0.46em #000, -0.297em -0.775em 0 -0.477em #000;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #000, -0.338em -0.758em 0 -0.42em #000, -0.555em -0.617em 0 -0.44em #000, -0.671em -0.488em 0 -0.46em #000, -0.749em -0.34em 0 -0.477em #000;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #000, -0.377em -0.74em 0 -0.42em #000, -0.645em -0.522em 0 -0.44em #000, -0.775em -0.297em 0 -0.46em #000, -0.82em -0.09em 0 -0.477em #000;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #000, 0 -0.83em 0 -0.42em #000, 0 -0.83em 0 -0.44em #000, 0 -0.83em 0 -0.46em #000, 0 -0.83em 0 -0.477em #000;
  }
}
