/*
*
* GLOBAL STYLES
*
*/

@import './colors';

body {
    width: 100%;
	height:100vh;
	font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    margin: 0;
}


ul {
	list-style: none;
}

*:focus {
    outline: 0;
}

a, button {
    cursor: pointer;
}


.center {
    text-align: center;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}




.rc-tabs-top {
  .rc-tabs-content-animated .rc-tabs-tabpane {
    overflow: hidden;
  }
  border-bottom: none;
  padding: 10px;
}
.rc-tabs-nav-animated{
  transform: none!important;
}
.rc-tabs-tab-active {
  color: $white!important;
  background-color: $btn-primary;
  border: none;
  &:hover {
    color: $white!important;
    background-color: $btn-primary;
    border: none;
  }
}
.rc-tabs-top {
  .rc-tabs-bar {
    border: none;
  }
  .rc-tabs-nav-wrap {
    // width: 214px!important;
    display: block;
    margin: 0 auto;
  }
 .rc-tabs-tab {
    margin-right: -2px;
    width: 115px;
    border-radius: 2px !important;
}
}


.rc-tabs-top .rc-tabs-nav-container-scrolling{
    padding: 0;    
}

.rc-tabs-top .rc-tabs-nav-wrap{
        display: block;
    margin: 0 auto;
    width:230px!important;
}
.rc-tabs-tab-prev, .rc-tabs-tab-next {
  display: none;
}

.rc-tabs-top .rc-tabs-tab {
  border: 1px solid $btn-primary;
  color: $btn-primary;
  margin-right: 0!important;
}

.rc-tabs-nav-wrap {
  overflow: initial;
}

.rc-tabs-tab:hover {
  color: primary;
}

.rc-tabs-ink-bar {
  background-color: transparent;
}

  .rc-tabs-tabpane-active:before{
        content: "›";
        font-size: 3em;
        margin-right: 20px;
        margin-top: -5px;
        color: rgb(101, 47, 124);
        position: absolute;
        right: 0;
        top: 50px;
    }
     .rc-tabs-tabpane-active:after{
        content: "›";
        font-size: 3em;
        margin-right: 20px;
        margin-top: -5px;
        color: rgb(101, 47, 124);
        position: absolute;
        left: 195%;
        top: 50px;
    }


.melissa-tabs .rc-tabs-tab-active
{
    border: 1px solid #000;
}
/*.uppercase {
    text-transform: uppercase;
}
.bold {
    font-weight: bold;
}*/

.img-responsive {
    display: block;
    max-width: 90%;
    margin: 0 auto;
}
.middle-fixed {
    margin-top: 5%;
}
/*.montserrat {
    font-family: 'Montserrat', sans-serif !important;
}*/
.clearfix {
    clear: both;
}

/* FORMS */
.content{
    padding: 10px;
}


/*----- Tabs -----*/
/*
.tabs {
    width: 100%;
    display: inline-block;
}*/


/*----- Tab Links -----*/


/* Clearfix */

/*.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links {
    width: 50%;
    margin: 0 auto;
}

.tab-links li {
    margin: 15px 0 0 0;
    float: left;
    list-style: none;
    width: 47%;
    background-color: #fff;
    border: 1px solid #652f7c;
    text-align: center;
    border-radius: 3px;
    transition: all linear .20s;
}

.tab-links li:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.tab-links li:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.tab-links li a {
    text-decoration: none;
    color: #652f7c;
    display: block;
    padding: 5px 0;
}

.tab-links li.active {
    background-color: #652f7c;
}

.tab-links li.active a {
    color: #fff;
}*/


/*----- Content of Tabs -----*/

/*.tabs .tab-content {
    padding: 15px;
    background: #fff;*/
    /*float: left;*/
    /*width: 100%;*/
    /*overflow: hidden;
}*/
/*
.tabs .tab-content img {
    width: 80px;
    float: left;*/
    /*padding-right: 10px;*/
/*}*/

/*.tabs .tab {
    display: none;
    float: left;
    width: 100%;
}

.tabs .tab.active {
    display: block;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #868686;
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: 19px;
    left: 31px;
}*/
