#mobile-debuger{
    background-image: url('img/iPhone-PNG.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 386px;
    min-height:736px;
    padding-top:99px;
    padding-left:32px;

    #mobile-tab-bar{
        width: 360px;
        height: 49px;
        background-color: white;
        border-bottom: 1px solid grey;
    }

    #mobile-content{
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        width: 360px;
        height:589px !important;
        #login, #control-screen{
            min-height:589px !important;
        }
    }
}