#main-container{
    background-color: #fff;
    padding: 10px 40px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    /*height: 100vh;*/
}

@media (min-width: 992px){
    #main-container {
        width: 970px!important;
    }
}

@media (min-width: 768px){
    #main-container {
        width: 750px;
    }
}