@-webkit-keyframes scale-down-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes scale-down-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.btn {
    display: block;
    width: 100%;
    outline: none !important;
    box-shadow: none;
    text-decoration: none;
    border: none;
    margin: 10px auto;

    &.btn-rounded {
        border-radius: 50px;   
    }

    &.btn-inverted {
        background-color: #ffffff;
        border: 2px solid #2e6da4;
        color: #2e6da4;
    }

    &.btn-inverted:hover {
        background-color: #2e6da4;
        border: 2px solid #2e6da4;
        color: #ffffff;
    }
}


