 @import '../styles/colors';

 .ribbon{
        margin: 20px 30px;
        overflow: hidden;
        padding: 0 10px;
        img{
            height: 19px;
            margin-right: 10px;
        }
        p{
            color: $white;
             font-size: 16px;
             margin: 0;
             font-weight: 400;
        }
     }