$white: #fff;
$primary-blue: #3e9ac3;
$splash: #b2e2f4;
$img-bckr: #dafcff;

$melissa-primary : #47bae5;
$melissa-primary-tap : #7ecfed;
$melissa-background:  #e7f6fc;
// BUTTONS
$btn-inactive: #c9c9c9;

$btn-primary: #652f7c;
$btn-primary-tap: #763592;

$success: #c9ff49;
$success-tap: #dbff49;
$success-color: #375c0c;

$mild : #f8f8f8;
$mild-tap: #fafafa;
$mild-text: #868686;

$connecting: #a174b4;

$delete: #f3114c;
$delete-tap: #eb3553;




// CONTROL SCREEN
$active-toggle-text : #aeaeae;
$device-info : #e8e8e8;

$wh-heat: #e9626f;
$wh-water: #9bc1e6;


// INPUTS
$main-input: #bebebe;
$label: #5d5d5d;
$main-input: #dedede;

$disabled-input-color:  #c9c9c9;
$disabled-bg: #f3f3f3;

$wrong-info: #d9092b;
$correct-info: #68af24;

$checkbox: #e1e1e1;
$toggle-off: #dedede;


// TEXT
$grey-txt :  #868686;
$device-id: #9bdfff;
$online-status: #84d239;


  


  



// Activity log button (Control screen):
// bg color 12% opacity: #ffffff
// Text color: #ffffff
// on tap: bg color 44% opacity: #ffffff
// Text color: #ffffff

// Change location (smart mode screen):
// color: #dafcff
// text color: #652f7c 
// on tap: button bg color: #edfeff

// Bobbie Activity log:
// bathing chart color bg: #fe02ba
// handwashing chart color bg: #ff9600
// dishesh washing chart color bg: #003be4

// Analytics-daily:
// Charts & graphics background color (light blue): #dafcff  
// Energy consumption text color: #0097ff

// Analytics-monthly:
// Savings (10 leva) text: #68af24
// Savings (10 leva) bg color: #cdfaa2
// Days text bg color: #7cd0ff







