.attention-dialog {
    &.visible {
        display: block;
    }
    &.hidden {
        display: none;
    }
    color: #ff5b00;
    background-color: #ffeadf;
    border-radius: 4px;
    width: 100%;
    padding: 12.5px;

    .header-primary {
        font-weight: 500;
        color: #ff5b00;
        display: inline-block;
        text-align: center;
        width: 75%;
        margin: auto 10px;
        vertical-align: middle;
    }
    img{
        width: 40px;
        vertical-align: middle;
    }
}