@import '../../docs/src/style/colors';
form.default input {
    &[type=email]:-ms-input-placeholder,
    &[type=password]:-ms-input-placeholder,
    &[type=tel]:-ms-input-placeholder,
    &[type=text]:-ms-input-placeholder {
        color: $label;
    }
}

.input-main {
    width: 95%;
    margin-top: 10px;
    height: 30px;
    color: $mild-text;
    border: 2px solid #dedede;
    border-radius: 7px;
    outline: 0;
    background-color: transparent;
    font-size: 15px;
    display: block;
    margin: 8px auto;
    padding-left: 14px;
    -webkit-appearance: none;
}

.input-main::-webkit-input-placeholder {
    color: $mild-text;
}

.input-main:-moz-placeholder {
    color: $mild-text;
}

.input-main::-moz-placeholder {
    color: $mild-text!important;
}

.white-borders::-webkit-input-placeholder {
    color: $white!important;
}

.white-borders:-moz-placeholder {
    color: $white!important;
}

.white-borders::-moz-placeholder {
    color: $white!important;
}

.input-main:disabled::-webkit-input-placeholder {
    color:  $mild-text!important;
}

.input-main:disabled::-moz-placeholder {
    color: $mild-text!important;
}

.input-main:disabled::-moz-placeholder {
    color: $mild-text!important;
}

@mixin user-select($select) {
    -webkit-border-radius: $select;
    -moz-border-radius: $select;
    -ms-border-radius: $select;
    border-radius: $select;
}

input {
    @include user-select(auto!important);
}

::-webkit-input-placeholder {
    color: $mild-text;
}

:-moz-placeholder {
    color: $mild-text;
}

::-moz-placeholder {
    color: $mild-text;
}

:-ms-input-placeholder {
    color: $mild-text;
}

form.default input[type=email],
form.default input[type=password],
form.default input[type=tel],
form.default input[type=text] {
    border: 3px solid $main-input;
    color: $mild-text;
}

form.default input[type=email]::-webkit-input-placeholder,
form.default input[type=password]::-webkit-input-placeholder,
form.default input[type=tel]::-webkit-input-placeholder,
form.default input[type=text]::-webkit-input-placeholder {
    color: $mild-text;
}

form.default input[type=email]:-moz-placeholder,
form.default input[type=password]:-moz-placeholder,
form.default input[type=tel]:-moz-placeholder,
form.default input[type=text]:-moz-placeholder {
    color: $mild-text;
}

form.default input[type=email]::-moz-placeholder,
form.default input[type=password]::-moz-placeholder,
form.default input[type=tel]::-moz-placeholder,
form.default input[type=text]::-moz-placeholder {
    color: $mild-text;
}

.input-main:disabled {
    color:  $mild-text!important;
    background-color: $main-input;
}

.input-main:focus {
    // color:  $melissa-primary!important;
}

.red_borders {
    border: 2px solid $wrong-info !important;
}

.green_borders {
    border: 2px solid $correct-info !important;
}

.white-borders {
    border: 2px solid $white!important;
    color: $white!important;
}

#relative {
    position: relative;
}