
#slideout {
  .inner {
    background: #fff;
    width: 100% !important;
    height: 100%;
  }
  #header {
    background-color: #dafcff;
    position: relative;
    height: 100px;
    .profile {
      padding: 30px 0 8px 0;
      border-bottom: 2px solid #effeff;
      position: relative;
      p {
        color: #6a2e7a;
        font-weight: bold;
      }
      img {
        width: 35%;
      }
    }
  }
}


.slide_menu {
  float: left;
  margin: 50px 0 0 0 !important;
  padding-left: 0;
  li {
    width: 90%;
    padding: 5px 0 5px 35px;
    background-size: 15px !important;
    background-position: 5% 45% !important;
    position: relative;
    &.active:before {
      display: inline-block;
      content: '';
      height: 25px;
      width: 3px;
      background: #6a2e7a;
      position: absolute;
      left: 0;
      top: 2px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    a {
      cursor: pointer;
      font-weight: 600;
    }
    &.active.home {
      background: url(./img/icon-home.png) 5% 50% no-repeat;
    }
    &.home {
      background: url(./img/icon-home-inactive.png) 0 0 no-repeat;
    }
    &.active.analytics {
      background: url(./img/icon-analytics-active.png) 5% 50% no-repeat;
    }
    &.analytics {
      background: url(./img/icon-analytics.png) 0 0 no-repeat;
    }
    &.active.profile {
      background: url(./img/icon-profile-active.png) 5% 50% no-repeat;
    }
    &.profile {
      background: url(./img/icon-profile.png) 0 0 no-repeat;
    }
    &.active.notif {
      background: url(./img/icon-notifs-active.png) 5% 50% no-repeat;
    }
    &.notif {
      background: url(./img/icon-notifs.png) 0 0 no-repeat;
    }
    &.active.signout {
      background: url(./img/icon-signout-active.png) 5% 50% no-repeat;
    }
    &.signout {
      background: url(./img/icon-signout.png) 0 0 no-repeat;
    }
    &.active a {
      color: #6a2e7a;
    }
  }
}

#slideout .slideout li {
  width: 100%;
  float: left;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  a {
    display: block;
    padding: 4px;
    color: #777777;
    background-size: 24px auto;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    line-height: 20px;
  }
  border-bottom: solid 1px;
}


@media screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  #slideout .inner {
    width: 82%;
  }

// #menu_list, #header {
//   display: none;
// }
}
